@media only screen and (min-width:48rem) {
    #panel{
      width: 90%;
      margin-left: 50px;
    } 
} 
@media only screen and (max-width:48rem) {
    #panel{
      width: 95%;
      margin-left: 10px;
    } 
} 

#Div2{
  display: none;
}
#Div3{
  display: none;
}